@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;500;600;700;800&display=swap');
@media all {
    html,body,main,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,menu,nav,section,menu,time,mark,audio,video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    body,html{height:100%}
    body {background: #fff; color: #002155;font-weight: normal;  font-size: 1em;text-rendering:optimizeLegibility;-webkit-text-size-adjust:none;-webkit-font-smoothing: antialiased;}
    h1, h2, h3, h4, h5, h6 
    {font-family:'Libre Franklin', Helvetica, system-ui, 'Segoe UI', Roboto, sans-serif;}
    h2 {font-size: 60px; line-height: 1.1em; font-weight: 700;letter-spacing: -2px;}
    h3 {font-size: 35px; line-height: 41px; font-weight: 500;margin: 20px 0;}
    h4 {font-size: 12px; line-height: 22px; font-weight: 700; text-transform: uppercase; letter-spacing: 1px}
    h5 {font-size: 13px; line-height: 24px; font-weight: 400; margin-bottom: 20px;}
    h6 {font-size: 18px; text-transform:uppercase;  letter-spacing: 3px; margin: 20px 0;}
    p {font-family:PT-Serif, serif;font-size: 16px;line-height: 24px;margin:20px auto;max-width: 640px;}
    i {font-family:PT-Serif Italic, serif; font-style: normal;}
    blockquote {font-family:PT-Serif Italic, serif; font-style: normal;font-size: 26px;line-height: 38px;margin:60px auto; padding:30px; border-top:1px solid #444; border-bottom:1px solid #444; text-align: center; }
    hr { border: 0;height: 1px;background: #444;}
    img {max-width: 100%; width: 100%;}
    header {max-width: 900px; margin:10px auto;padding:30px 20px 40px 20px;}
    header .icon {width: 30px; border-radius: 30px; margin:0;}
    header h1 {font-size: 0; color: #111; float: left;}
    header a {text-decoration: none; color: #002155;}
    header a:hover {color: #002155;}
    header h6 {margin:100px 0 20px 0;clear: all; display: block;}
    nav {float: right;}
    nav a {display: inline-block; font-family:'Helvetica Neue', Helvetica, system-ui, 'Segoe UI', Roboto, sans-serif;font-size: 15px;line-height: 24px; padding: 0 20px;border-right: 1px solid #444;}
    nav a:last-of-type {border: none; padding-right: 0;}
    section {max-width: 860px; margin:-10px auto 10px auto;padding: 0 50px; border-radius: 5px;}
    main {max-width: 900px; margin:10px auto;padding:20px;}
    main ul {margin:20px 0 50px 0;}
    main li {font-family:'Helvetica Neue', Helvetica, system-ui, 'Segoe UI', Roboto, sans-serif; font-size:16px;line-height: 24px; padding:5px;margin:0 0 0 20px;}
    main p {max-width: 100%;}
    main li a {text-decoration: none; color: #eee;}
    main li a:hover {color: #002155;}
    p a {color:#eee;text-decoration:none;outline: none;border-bottom: 3px solid #002155;}
    p a:hover {border-bottom: 3px solid #002155;text-decoration: none; color: #fff;}
    figure {margin:20px auto;}
    article {max-width: 900px; margin:10px auto;padding:20px;}
    article p:first-of-type {font-size: 21px; line-height: 29px;}
    article p:first-of-type::first-letter {font-size: 100px; float: left; margin:37px 6px 10px 0; font-weight: 500;}
    figure {margin:60px auto; width: 100%; max-width: 100%; padding: 0;}
    figcaption { font-family:PT-Serif Italic, serif; font-style: normal; font-size:13px; margin:10px 0;}
    .photogrid {display: flex;flex-wrap: wrap;}
    .photogrid img {max-width: 100%; width: 100%; height: 400px; object-fit: cover;}
    .photogrid div {flex: 30%; max-width: 30%; height: 400px;}
    .photogrid div:nth-of-type(2) {flex: 68%; max-width: 68%;margin-left: 2%;}
    
    .columns        {display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 50px 50px;}
    .columns div    {display: block;}
    
    .store img {border-radius: 5px;}
    .store p {font-family:'Helvetica Neue', Helvetica, system-ui, 'Segoe UI', Roboto, sans-serif; font-weight: bold; }
    .cdt {width:30%; height: 100%; float: right; background:url(../img/cdt-sticker.png) no-repeat center center; background-size: contain;position: relative;z-index: 99;}
    .matterhorn {width:35%; height: 100%; float: right; background:url(../img/matterhorn-sticker.png) no-repeat center center; background-size: contain;position: relative;z-index: 99;}
    .hero-text {width: 60%; height: 100%; display: table; float: left;}
    .middle-align {display: table-cell; vertical-align: middle; }
    
    table{max-width:760px; width: 100%; margin: 50px auto; border-top: 1px dashed #333;}
    td, th {font-family:'Helvetica Neue', Helvetica, system-ui, 'Segoe UI', Roboto, sans-serif;}
    th{font-size:14px;text-align: right; padding: 10px 10px 10px 0; border-bottom: 1px dashed #333; font-weight: 400; width: 40%; text-transform: uppercase;}
    td{font-size:14px;text-align: left; padding: 10px 0 10px 10px; border-bottom: 1px dashed #333; font-weight: 600;}
    
    footer {max-width: 900px; margin: 100px auto 20px auto; padding: 20px 20px 0 20px;}
    footer small {font-family:'Libre Franklin', Helvetica, system-ui, 'Segoe UI', Roboto, sans-serif; font-size: 12px; color: #002155; padding: 30px 0; display: inline-block; float: left;}
    footer small:nth-of-type(2){float: right;}
    footer a {color: #002155;}
    .button {display: inline-block;border: none;font-family:'Helvetica Neue', Helvetica, system-ui, 'Segoe UI', Roboto, sans-serif; font-size: 12px;background-color: #002155; color: #fff; padding: 10px 20px; border-radius: 7px; text-transform: uppercase; letter-spacing: .5px; font-weight: 500; text-decoration: none;}
    .button:hover {border: none; background-color: #62B1F6;}
    }
    @media screen and (max-width:720px) {
      h2 {font-size: 38px;letter-spacing: -1px; line-height: 1em;}
      p  {max-width: 85%;}
      header, article, main  {padding:20px 15px 0 15px;}
      section {margin:0 15px;padding: 0 15px; border-radius: 0px;}
      nav a {display: inline-block; font-family:'Helvetica Neue', Helvetica, system-ui, 'Segoe UI', Roboto, sans-serif;font-size: 14px;line-height: 10px; padding: 10px 10px;border-right: 1px solid #444;}
      nav a:last-of-type {border: none; padding-right: 0;}
    
      .columns        
      {display: block; grid-template-columns: 1fr; grid-gap: 0; padding-bottom: 10px;}
      .columns div 
      {margin: 20px 0 60px 0;}
      .photogrid {display: block;}
      .photogrid img {height: auto; object-fit: cover;}
      .photogrid div {flex: none; max-width: 100%; height: auto;}
      .photogrid div:nth-of-type(2) {flex: 100%; max-width: 100%;margin-left: 0;}
      .cdt {width:40%;}
      .hero-text {width: 60%;}
    }

    